.code-editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 880px) {
  .code-editor {
    display: grid;
    grid-template-columns: 25% minmax(50%, 752px) 25%;
    align-items: start;
  }
}