.code-editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 880px) {
  .code-editor {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    /* grid-gap: 0 40px; */
    /* align-items: start; */
  }
}