.code-highlighter {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 752px;
/* when desktop, display changes to grid */
  grid-column: 2 / 3;
}

.code-highlighter__container {
  background: #141414;
  width: auto;

  border: 32px solid #1ed457;
  border-radius: 8px;
  padding: 16px;
}

/* 3 dots on top of editor */
.code-highlighter__dots {
  display: flex;
  margin-bottom: 24px;
}

.dots {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  border-radius: 50%;
}

.first_dot {
  background: #FF5F56;
}

.second_dot {
  background: #FFBD2E;
}

.third_dot {
  background: #27C93F;
}

/* code text */
.code-highlighter__code {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: white;
}

.code-highlighter__code-editor {
  color: white;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  background: transparent;
  width: 100%;
  height: fit-content;

  overflow-y: hidden;
}

/* button */
.code-highlighter__button {
  background: rgba(80, 129, 251, 0.08);
  border-radius: 8px;
  margin-top: 32px;
  padding: 16px;

  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}