:root {
  --lightest-color: 150, 185, 253;
  --light-color: 123, 164, 252;
  --primary-color: 80, 129, 251;
  --dark-color: 5, 29, 59;
  --input-color: 255, 255, 255;
  --menu-color: 45, 65, 91;

  --primary-color-200: #96B9FC;
  --primary-color-300: #7Ba4FC;
  --primary-color-400: #4F81FB;
  --primary-color-500: #173569;
  --primary-color-600: #112D5A;
  --primary-color-700: #0B254A;
  --primary-color-800: #051D3B;
  --primary-color-900: #041832;

  --neutral-color-200: #41536A;
  --neutral-color-300: #2D415B;
  --neutral-color-400: #192F4A;

  --font-family: Inter;
  --title-font-color: white;
  --input-font-color: white;

  /* can't be used on media query call, it's just for reference */
  --mobile-breakpoint: 425px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1024px;
}

/* TYPOGRAPHY */
.title-typ {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--title-font-color);
}

.body-typ {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5rem; 
}

.sidebar-title-typ {
  color: var(--title-font-color);
  font-family: var(--font-family);
  font-size: 0.75rem;
  line-height: 1.1rem; 
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

/* FORM COMPONENTS */
.input {
  width: 100%;
  max-width: 752px;
  padding: 1rem 0.9rem;
  margin-top: 1rem;
  border-radius: 0.5rem;

  background-color: var(--neutral-color-300);
  color: var(--input-font-color);
}

.input::placeholder {
  color: var(--input-font-color);
  opacity: 0.5;
}

.input:hover {
  background: var(--neutral-color-200);
}

/* BUTTONS */
.button-filled {
  background: rgb(var(--primary-color));
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgb(var(--dark-color));
}

.button-filled:hover {
  background: rgb(var(--light-color));
}

.button-filled:active {
  background: rgb(var(--light-color));
  border: 4px solid rgba(var(--primary-color), 0.72);
}

.button-filled:focus {
  background: rgb(var(--lightest-color));
}

.button-outlined {
  background: rgba(var(--lightest-color), 0.08);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.button-outlined:hover {
  background: rgba(var(--primary-color), 0.16);
}

.button-outlined:active {
  background: rgba(var(--primary-color), 0.24);
  border: 4px solid rgba(var(--primary-color), 0.24)
}

.button-outlined:focus {
  background: rgba(var(--primary-color), 0.24);
}


/* ICONS  */
.icon {
  height: 3rem;
  width: 3rem;
  padding: 0.9rem;
  border-radius: 1rem;
}

.icon:hover {
  background: var(--primary-color-700);
}

.icon:active {
  background: var(--primary-color-600);
}

.icon__menu {
  background: var(--primary-color-600);
}

/* STRUCTURE */

body {
  background: rgb(var(--dark-color));
  padding: 16px;
  margin: 0 auto;
}

/* Utilities */
.hidden {
  display: none !important;
}

.active {
  display: block !important;
}

@media screen and (min-width: 1320px) {
  body {
    padding: 32px;
  }

  .sidebar-title-typ  {
    margin: 0;
  }
}