:root {
  --cor-fundo: #051D3B;
  --cor-icones: white;
}

body {
  background: var(--cor-fundo);
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  max-width: 752px;
  padding: 16px 14px;
  margin-top: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.16);

  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.text-field {
  max-width: 724px;
  width: calc(100% - 28px);
}


.subtitle {
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4em;
  text-transform: uppercase;

  margin-top: 40px;
}

@media screen and (min-width: 920px) {
  body {
    padding: 32px;
  }
}

@media screen and (min-width: 1320px) {
  .content {
    display: grid;
    grid-gap: 0 40px;
    grid-template-columns: 1fr 752px 1fr;
    align-items: start;
  }

  .subtitle {
    margin: 0;
  }
}