.header {
  height: 56px;
  width: 100%;
  margin: 0 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  height: 34.05px;
  width: auto;

  /* when desktop, display changes to grid */
  grid-column: 1 / 2;
}

.nav__text-field {
  display: none;

  /* when desktop, display changes to grid */
  grid-column: 2 / 3;
}

.nav__user {
  display: none;

  color: white;
  font-size: 16px;

  padding: 12px;

  /* when desktop, display changes to grid */
  grid-column: 3 / 4;
  grid-row: 1 / 1;
}

.nav__user-photo  {
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.nav__icon {
  height: 20px;
  padding: 14px;
  fill: white;
}

@media screen and (min-width: 670px) {
  .nav__search-icon {
    display: none;
  }

  .nav__text-field {
    display: block;
    margin: 0 40px;
  }
}

@media screen and (min-width: 1120px) {  
  .nav__user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .nav__menu-icon {
    display: none;
  }
}

@media screen and (min-width: 1320px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 752px 1fr;
  }

  .nav__text-field {
    margin: 0;
  }
}