.header {
  height: 56px;
  width: 100%;
  margin: 0 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 34.05px;
  width: auto;

  /* when desktop, display changes to grid */
  grid-column: 1 / 2;
}

.header__text-field {
  display: none;
}

.header__user {
  display: none;
}

@media screen and (min-width: 670px) {
  .header__search-icon {
    display: none;
  }

  .header__text-field {
    display: block;
    margin: 0 40px;
    /* when desktop, display changes to grid */
    grid-column: 2 / 3;
  }
}

/* make header text input align with content as screen grows */
@media screen and (min-width: 952px) {
  .header__text-field {
    position: absolute;
    right: calc( (100vw - 752px) / 2 - 42px );

    width: calc(100vw / 1.5);
  }
}
/*  */

@media screen and (min-width: 1320px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 752px 1fr;
  }

  .header__user {
    display: flex;
    justify-self: end;

    grid-column: 3 / 4;
    grid-row: 1 / 1;
  }
  
  .header__menu-icon {
    display: none;
  }

  .header__close-icon {
    display: none;
  }

  .header__text-field {
    margin: 0;
    position: static;
  }
}