.left-menu {
  display: none;
  flex-direction: column;
}

.left-menu__link {
  margin-top: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  opacity: 0.56;
}

.left-menu__link-Active {
  opacity: 1;
}

.left-menu__img {
  border-radius: 16px;
  height: 16px;
  padding: 16px 14px;
}

.left-menu__text {
  color: white;
}

@media screen and (min-width: 1320px) {
  .left-menu {
    display: flex;
  }
}