.header {
  height: 3.5rem;
  width: 100%;
  margin-bottom: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 2.1rem;
  width: fit-content;
}

.header__search-bar {
  display: none;
  margin: 0 2.5rem;
}

.header__user {
  display: none;
}

@media screen and (min-width: 425px) {
  .header__search-icon {
    display: none;
  }

  .header__search-bar {
    display: block;
  }
}

@media screen and (min-width: 880px) {
  .header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }

  .header__menu-icon {
    display: none;
  }

  .header__search-bar {
    width: 100%;
  }

  .header__user {
    display: flex;
    align-items: center;
    justify-self: end;

    grid-column: 3 / 4;
    grid-row: 1 / 1;

    padding: 0.75rem;
    color: white;
  }

  .header__user:hover {
    background: var(--neutral-color-400);
    border-radius: 0.5rem;
  }

  .header__user-photo {
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  .header__user-photo-small {
    height: 1.5rem;
  }

  .header__user-name {
    color: white;
  }
}
