.header {
  height: 3.5rem;
  width: 100%;
  margin-bottom: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 2.1rem;
  width: fit-content;
}

.header__search-bar {
  display: none;
  margin: 0 2.5rem;
}

.header__icons {
  display: flex;
}

.header__close-icon {
  display: none;
}

.header__user {
  display: none;
}

@media screen and (min-width: 425px) {
  .header__search-icon {
    display: none !important;
  }

  .header__search-bar {
    display: flex !important;
  }
}

@media screen and (min-width: 880px) {
  .header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }

  .header__search-bar {
    width: 100%;
  }
  
  .header__menu-icon {
    display: none !important;
  }

  .header__close-icon {
    display: none !important;
  }

  .header__user {
    display: flex;
  }
}
