.code-highlighter {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 752px;

  grid-column: 1 / 1;
}

.code-highlighter__container {
  background: #141414;
  width: auto;

  border: 32px solid #1ed457;
  border-radius: 8px;
  padding: 16px;
}

.code-highlighter__container-community {
  padding: 12px;
}

/* 3 dots on top of editor */
.code-highlighter__dots {
  display: flex;
}

.dots {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  border-radius: 50%;
}

.dots-community {
  height: 9px;
  width: 9px;
}

.first_dot {
  background: #FF5F56;
}

.second_dot {
  background: #FFBD2E;
}

.third_dot {
  background: #27C93F;
}

/* code text */
.code-wrapper-editor {
  margin-top: 16px;
  margin-left: 0px;
}

.code-highlighter__code {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  white-space: pre-wrap;

  margin-left: -10px;
  max-height: 195px;

  background-color: transparent;
}

.code-highlighter__code-editor {
  color: white;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  white-space: pre-wrap;

  background: transparent;
  width: 100%;
  height: fit-content;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 8px;
}

/* button */
.code-highlighter__button {
  background: rgba(80, 129, 251, 0.08);
  border-radius: 8px;
  margin-top: 32px;
  padding: 16px;

  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}