/* used only here */
:root {
  --font-color: black;
}

.login__body {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.login__container {
  width: 80vw;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  padding: 24px 12px 36px;
  background-color: #fafafa50;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__title {
  margin: 14px;
  font-size: 24px;
  color: var(--font-color);
}

.login__form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__input {
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid var(--font-color);
  padding: 4px 10px;
  margin-bottom: 16px;
  width: 95%;
  color: var(--font-color);
}

::placeholder {
  color: var(--font-color);
}

.login__link {
  padding: 12px;
  font-size: 14px;
}

.login__button {
  background-color: rgb(var(--dark-color));
  color: white;
}

.login__button:hover {
  background-color: rgba(var(--dark-color), 0.9);
}

.login__button:active {
  border: 4px solid rgba(var(--primary-color), 0.72);
}