.code-highlighter {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 752px;
  margin: auto;
}

.code-highlighter__code-container {
  background: #141414;

  border: 2rem solid #1ed457;
  border-radius: 0.5rem;
  padding: 1rem;
}

/* ----  3 dots on top of editor ---- */
.code-highlighter__dots {
  display: flex;
  margin-bottom: 1.5rem;
}

.code-highlighter__dots span {
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.code-highlighter__dots > span:first-child {
  background: #FF5F56;
}

.code-highlighter__dots > span:nth-child(2) {
  background: #FFBD2E;
}

.code-highlighter__dots > span:last-child {
  background: #27C93F;
}
/* ----  3 dots on top of editor ---- */

/* ----  code editor ---- */
.code-highlighter__code {
  font-family: Roboto Mono;
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: white;

  width: 100%;
  margin-left: -6px;
}

/* ::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);
  opacity: 0.5;
  border-radius: 0.5rem;
} */
/* ----  code editor ---- */

.code-highlighter__button {
  margin-top: 2rem;
}


@media screen and (min-width: 880px) {
  .code-highlighter {
    margin: 0;
    grid-column: 2 / 3;
    justify-content: flex-start;
  }
}