{% extends "base.html" %}

{% block title %} Code Editor {% endblock %}

{% block page_style %} 
  <link rel="stylesheet" href="../static/code-editor/code-form.css">
{% endblock %}

{% block content %}
  <!-- Form -->
  <form id="code_form" class="code-form" data-form action="/code-editor" method="post">
    <!-- Code Highlighter -->
    <section class="code-highlighter code-form__code-highlighter">
      <div class="code-highlighter__code-container" data-code-container>
        <div class="code-highlighter__dots"><span></span> <span></span> <span></span></div>
        
        <pre><code class="code-highlighter__visible_code" contenteditable='true' data-visible-code></code></pre>
        <textarea class="code-highlighter__hidden_code hljs code-form__code-highlighter" 
              form="code_form" 
              name="code" 
              aria-label="Code editor"
              contenteditable="false" 
              placeholder="Write your code here"
              data-code 
              data-hidden-code
              required ></textarea>
      </div>
      <button class="body-typ button button-outlined code-highlighter__button" data-highlighter-button>Highlight code</button>
    </section>
    <!-- Code Highlighter -->

    <section id="code_form" class="code-form__details" action="/create_code" method="post">
      <fieldset class="code-form__your-project">
        <legend class="sidebar-title-typ code-form__sidebar-title">Your project</legend>
        <input  class="body-typ input code-form__title" 
                name="title" 
                type="text" 
                placeholder="Project title" 
                data-title 
                required></input>
        <textarea class="body-typ input code-form__description" 
                  name="description" 
                  placeholder="Project description" 
                  maxlength="200" 
                  data-description 
                  required></textarea>
      </fieldset>

      <fieldset class="code-form__customization">
        <legend class="sidebar-title-typ code-form__sidebar-title">Personalization</legend>
        <select class="body-typ input code-form__language" 
                name="language" 
                placeholder="Escolha sua linguagem" 
                data-language 
                required>
          <option class="code-form__language__option" value="Javascript" >Javascript</option>
          <option class="code-form__language__option" value="CSS" >CSS</option>
          <option class="code-form__language__option" value="HTML" >HTML</option>
          <option class="code-form__language__option" value="Python" >Python</option>
        </select>
        <input  type="color" 
                value="#1ed457" 
                class="code-form__color" 
                name="color" 
                data-color-picker 
                required></input>
      </fieldset>
      
      <div class="code-form__buttons">
        {% if session['user'] %}
        <button class="body-typ button button-filled code-form__submit-button" data-save-button type="submit">Save project</button>
        <button class="body-typ button button-outlined" type=button"" data-delete-button>Delete project</button>
        {% else %}
        <a class="button button-filled" style="text-align: center;" href="/login">Login to save</a>
        {% endif %}
      </div>
    </section>
  </form>
  <!-- Form -->
{% endblock %}

{% block page_js %}
  <!-- layout -->
  <script src="../static/code-editor/changeCodeBorderColor.js" type="module" ></script>
  <script src="../static/code-editor/handleCodeTextareaInputEvent.js"></script>
  <script src="../static/code-editor/handleHighlightEvent.js" type="module"></script>
  <script src="../static/code-editor/fillForm.js" type="module" ></script>
  <!-- layout -->
{% endblock %}